@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --animate-pollution: pollution 4s ease-in-out infinite;
  --animate-shadow: shadow 4s ease-in-out infinite;

  @keyframes pollution {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes shadow {
    0% {
      transform: scale(0.7);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.7);
    }
  }
}

:root {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  --font-family-nunito: "Nunito Sans";

  --background-color: #ffffff;

  --text-color-white: #ffffff;
  --text-color-dark: #2d2d2d;
  --text-color-light: #3a3a3a;
  --text-color-light-1: #626262;
  --text-color-light-2: #989898;

  --black: #000000;
  --light-green: #d6ffd0;
  --dark-green: #28b30e;
  --dark-green-2: #239c0c;

  /* colors with opacity */
  --dark-green-21: rgba(40, 179, 14, 0.21);
  --white-0: rgba(255, 255, 255, 0);
  --white-light-1: rgba(245, 246, 250, 1);
  --blcak-15: rgba(0, 0, 0, 0.15);
  --black-shade: #222222;

  /* Gradients */
  --background-gradient-green: linear-gradient(
    to bottom,
    rgba(40, 179, 14, 1),
    rgba(40, 179, 14, 0)
  );
  --background-gradient-white: linear-gradient(
    to bottom,
    white 70%,
    transparent
  );

  --max-width: 1440px;

  --alternate-animation: pollution;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
}
